<section>
    <div class="container">
        <div class="row mt-5">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <form action="/admin/add-place" method="POST" role="form" enctype="multipart/form-data">
                    <legend class="text-center" style="font-weight: 700;" >Add Place</legend>

                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Place Name">

                    <label for="price">Price</label>
                    <input type="text" class="form-control" name="price" id="name" placeholder="Price">

                    <label for="location">Location</label>
                    <input type="text" class="form-control" name="location" id="location" placeholder="Location">

                    <label for="lat" >Latitude</label>
                    <input type="text" class="form-control" name="lat" id="lat" placeholder="Latitude">

                    <label for="lon">Longitude</label>
                    <input type="text" class="form-control" name="lon" id="lon" placeholder="Longitude">

                    <label for="tslots">Total Slots</label>
                    <input type="text" class="form-control" name="tslots" id="tslots" placeholder="Total Slots">

                    <label for="aslots">Available Slots</label>
                    <input type="text" class="form-control" name="aslots" id="aslots" placeholder="Available Slots">

                    <label for="description">Description</label>
                    <input type="text" class="form-control" name="description" id="description"
                        placeholder="Description">

                    <label for="image">Image Link</label>
                    <input type="text" class="form-control" name="image" id="image" placeholder="Image URL">

                    {{!-- <input type="file" class="form-control" name="image" id="image" placeholder="Image"> --}}

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>