<section>
    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <form action="/admin/add-place" method="POST" role="form" enctype="multipart/form-data">
                    <legend class="text-center" style="font-weight: 700;">Add Place</legend>

                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="Place Name">
                    </div>

                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="text" class="form-control" name="price" id="price" placeholder="Price">
                    </div>

                    <div class="form-group">
                        <label for="location">Location</label>
                        <input type="text" class="form-control" name="location" id="location" placeholder="Location">
                    </div>

                    <div class="form-group">
                        <label for="lat">Latitude</label>
                        <input type="text" class="form-control" name="lat" id="lat" placeholder="Latitude">
                    </div>

                    <div class="form-group">
                        <label for="lon">Longitude</label>
                        <input type="text" class="form-control" name="lon" id="lon" placeholder="Longitude">
                    </div>

                    <div class="form-group">
                        <label for="tslots">Total Slots</label>
                        <input type="text" class="form-control" name="tslots" id="tslots" placeholder="Total Slots">
                    </div>

                    <div class="form-group">
                        <label for="availableButton">Available</label>
                        <input type="checkbox" name="availableButton" id="availableButton" value="on">
                    </div>

                    <div class="form-group">
                        <label for="aslots">Available Slots</label>
                        <input type="text" class="form-control" name="aslots" id="aslots" placeholder="Available Slots">
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" name="description" id="description"
                            placeholder="Description">
                    </div>

                    <div class="form-group">
                        <label for="image">Image Upload</label>
                        <input type="file" class="form-control" name="image" id="image" placeholder="Image JPG Upload">
                    </div>

                    {{!-- <input type="file" class="form-control" name="image" id="image" placeholder="Image"> --}}

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>