<section>
    <div class="container mt-5">
        <div class="row">
            {{#each products}}
            <div class="col-sm-6 col-md-4 col-lg-3 p-3">
                <div class="card" style="width: 100%; height: 100%;">
                    <img class="card-img-top img-fluid" style="object-fit: cover; height: auto;" src="{{this.image}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <p class="card-text">Rs. {{this.price}}</p>
                        <p class="card-text">Location: {{this.location}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>